*{
    margin:0;
    padding:0;
}
body{
    background: rgb(111,119,117);
    background: linear-gradient(90deg, rgba(111,119,117,1) 0%, rgba(206,212,218,1) 100%);
} 
.info-title {
    color:#FFF;
    padding:30px;
    display:flex;
    justify-content:center;
}
.info-title a {
    text-decoration:none;
    color:#FFF;
}
.info-title a:hover {
    color:rgb(111,119,117);
}
main{
    margin-top:4%;
    margin-bottom:5%;
}
.container-links-pages {
    width:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:auto;
}
.container-footer {
    background:#1d3d33;
    color:white;
    padding:30px;
    display:flex;
    justify-content:center;
    box-shadow: 0px -10px 22px -6px rgba(12,24,28,0.55);
    -webkit-box-shadow: 0px -10px 22px -6px rgba(12,24,28,0.55);
    -moz-box-shadow: 0px -10px 22px -6px rgba(12,24,28,0.55);
}
header {
    box-shadow: 0px 12px 10px -6px rgba(29,61,51,0.76);
    -webkit-box-shadow: 0px 12px 10px -6px rgba(29,61,51,0.76);
    -moz-box-shadow: 0px 12px 10px -6px rgba(29,61,51,0.76);
    height:10vh;
    justify-content:center;
    padding:50px;
    margin-bottom:3%;
    background-color:#0c181c;
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
}
.content-title {
    position: relative;
    z-index:1;
    max-width:100%;
    text-align:center;
}
footer {
    margin-top:3%;
    justify-content:center;
    padding:50px;
    
}
.content-creator {
    text-align:center;
}
.accounts {
    margin:1%;
}
.accounts img {
    width:25px;
    margin:0.5%;
    padding:1px;
    background-color:rgb(139, 139, 139);
    border-radius:5px;
    transition: transform .3s;
}
.accounts img:hover {
    transform: scale(1.2);
}
.btn{
    background-color: #1d3d33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease 0ms;
    margin: 10px;
    padding:15px;
    width:20%;
}
.container-links-pages a{
    text-decoration:none;
    color: #FFF;
}
.btn:hover{
    transform: translateY(-7px);
    box-shadow: 0px 10px 17px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 17px -1px rgba(0,0,0,0.75);
}